[submodule "MTTEH/librairies/Adafruit_MCP9808_Library"]
	path = MTTEH/librairies/Adafruit_MCP9808_Library
	url = git@github.com:adafruit/Adafruit_MCP9808_Library.git
[submodule "MTTEH/librairies/Adafruit_SGP30"]
	path = MTTEH/librairies/Adafruit_SGP30
	url = git@github.com:adafruit/Adafruit_SGP30.git
